.uploader {
	width: 100% !important;
	display: block;
	text-align: center;
	font-family: Arial;
	font-size: 13px;
	box-sizing: border-box;
	padding: 0 !important;
	position: static !important;

	&-topbar{
		width: 100%;
		height: 38px;
		background: #E6E8EA;

		.uploader-buttons{
			margin: 0px;
			padding: 0px;
			list-style-type: none;

			li {
				float: right;
				margin: 10px 20px;
			}
			.add-file, .upload{
				cursor: pointer;
				color: #2A6395;
				&:hover{
					text-decoration: underline;
				}
			}
			.notify-selected{
			}
		}
	}

	.dropzone{
		width: 100%;
		min-height: 400px;
		border: dashed 1px #d0d0d0;
		box-sizing: border-box;
		color: #ccc;
		background: #F8F8F8;
		overflow: hidden;

		.no-file{
			padding-top: 130px;
			width: 100%;
			height: 100%;
			font-size: 25px;
			color: inherit;
			
			i {
				font-size: 100px;
			}
		}

		.uploads{
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			position: relative;
			
			.list-file{
				list-style-type: none;
				margin: 0;
				padding: 0px;
				position: relative;

				li{
					float: left;
					margin: 20px;
					padding: 20px;
					position: relative;
					border: solid 1px #e0e0e0;

					&:hover {
						background: rgba(0,0,0,0.5);
					}

					.file-preview{
						width: 150px;
						height: 150px;
						i{
							position: absolute;
							top: -10px;
							right: -10px;
							background: rgba(0,0,0,0.5);
							border-radius: 24px;
							width: 24px;
							height: 24px;
							text-align: center;
							line-height: 22px;
							cursor: pointer;
							font-size: 18px;
							&:hover{
								background: rgba(0,0,0,0.3);
							}
						}
						
						img{
							width: 100%;
							height: 100%;
							background: #FAFBFC;
						}

					}
				}
			}
		}
	}
	.dragover {
		border: dashed 2px rgba(0,0,0,0.5);
		color: rgba(0,0,0,0.5);
		font-family: Arial;
	}


}