.pagination{
	float: none;
	position: relative;
	width: 100%;
	display: inline-block;

	li.active{
		margin-top: 1px;
		padding: 3px 10px !important;
		margin-right: 3px;
		background: #3876A7;
		a {color: #FFFFFF !important;}
	}

	> li {
		float: left !important;
		position: relative;
		> a {
			display: block;
			padding: 0 10px;
		}
	}
}

.formRow{
	.fix-form-input-email, .input-fix{
		padding-left: 5px;
		height: 33px;
		width: 380px;
		color: inherit;
		border: solid 1px #ddd;
		box-shadow: 0 0 0 2px #f4f4f4;
		box-sizing: border-box;
	}
	input[disabled]{
		background: #e0e0e0;
		color: inherit;
		cursor: not-allowed;
	}
}

form {
	display: inherit;
	margin: 0px !important;
	padding: 0px !important;
	display: inline;
	line-height: 15px;
	position: relative;

	.btn-delete{
		background-color: transparent !important;
		background-image: url('../contents/images/icons/color/delete.png') !important;
		background-repeat: no-repeat;
		background-position: center;
		width: 15px !important;
		height: 15px !important;
		padding: 0 !important;
		margin: 0 !important;
		border: none;
		position: absolute;
		top: -4px;
		left: 4px;
	}
}

.option	{
	position: relative;
	left: -10px;
}

//Fix plupload:
.plupload_file_dummy{
	display: none !important;
}

input[type='file']{
	cursor: pointer;
}