/**
 * Nguyễn Hữu Kim
 * Ngày 16/04/2016 21:05:09
 *
 * Stylesheet for login page.
 */

.loginPage {

	color: #595959;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
    min-height: 100%;
    // background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    background: url(../contents/crown/images/backgrounds/bg.jpg);
    // background: rgba(0, 0, 0, 0) url("../contents/crown/images/backgrounds/bodyBg.png") repeat-y scroll 0 0;
	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		border: 0 none;
		font-size: 100%;
		margin: 0;
		outline: 0 none;
		padding: 0;
		vertical-align: baseline;
	}


	.loginWrapper {
		left: 50%;
		margin: -119px 0 0 -170px;
		position: absolute;
		top: 45%;
		color: #595959;
		font-family: Arial,Helvetica,sans-serif;
		line-height: 20px;

		#admin_login {
			height: auto;
			margin: auto;

			background: #f9f9f9 none repeat scroll 0 0;
			border: 1px solid #cdcdcd;
			display: block;
			height: 236px;
			width: 340px;
			box-shadow: 0 1px 0 #fff;
			clear: both;
			border-radius: 3px;

			.title {
				background: #efefef url("../contents/crown/images/backgrounds/titleBg.png") repeat-x scroll 0 0;
				border-bottom: 1px solid #cdcdcd;
				height: 36px;

				.titleIcon {
					border-right: 1px solid #d5d5d5;
					float: left;
					padding: 11px;
				}
				h6 {
					float: left;
					font-size: 12px;
					font-weight: bold;
					padding: 9px 12px 8px;
				}
			}

			.form {
				.formRow:first-child {
					border-top: medium none;
				}
				.formRow{
					padding: 18px 14px;
					border-bottom: 1px solid #e2e2e2;
					clear: both;
					padding: 18px 14px;
					position: relative;
					height: 30px;
					line-height: 20px;

					> label {
						display: block;
						float: left;
						padding: 4px 0;
					}

					.loginInput {
						float: right;
						margin-right: 14px !important;
						width: 190px;
					}
					.loginControl {
						border-top: 1px solid #fff;
						padding: 16px 14px;
					}
				}
				.label {cursor: pointer;}

				input[type="email"],
				input[type="password"],
				textarea {
					font-size: 12px;
					background: white none repeat scroll 0 0;
					border: 1px solid #ddd;
					box-shadow: 0 0 0 2px #f4f4f4;
					color: #656565;
					font-family: Arial,Helvetica,sans-serif;
					padding: 7px 6px;
					width: 100%;
				}
				input[type="email"],
				input[type="password"] {
					width: 100% !important;
				}
				input[type="submit"],
				input[type="reset"],
				input[type="button"],
				button {
					padding: 7px 18px 8px;
				}
				.button, button,
				input[type="submit"],
				input[type="reset"],
				input[type="button"] {
					background-image: url("../contents/crown/images/ui/usualButtons.png");
					background-repeat: repeat-x;
					cursor: pointer;
					display: inline-block;
					font-family: Arial,Helvetica,sans-serif;
					font-size: 10px;
					font-weight: bold;
					line-height: 12px;
					max-height: 29px;
					text-transform: uppercase;
					white-space: nowrap;
					background-position: 0 -510px;
					border: 1px solid #893f3f;
					color: #fff;
					border-radius: 2px;
					float: right;
					padding: 7px 20px 8px !important;
					margin: 15px;
					outline: medium none;
				}
			}	
		}

	}


	#footer {
		bottom: 0;
		clear: both;
		left: 0;
		position: absolute;
		width: 100%;

		.wrapper {
			margin: 0;
			padding: 20px 0;
			text-align: center;
		}
	}

}

.has-error {
	> ul {
		background: url('../images/cloud-bar.png');
		box-sizing: border-box;
		color: #fff;
		display: block;
		font-family: Arial;
		font-size: 12px;
		padding: 5px 20px;
	}
}

.social-auth{
	height: 36px;
	line-height: 36px;
	display: block;
	a{
		text-decoration: none;
		width: 24px;
		height: 24px;
		text-align: center;
		float: right;
		background-position: center;
		position: relative;
		top: 6px;
		right: 15px;
	}
	.social-auth-facebook{
		background: url('../images/iconF.png');
		margin-left: 10px;
	}
	.social-auth-google{
		background: url('../images/iconG.png');
	}

}