$width-container: 				1000px;
$column-number: 				12;

$background-header:				url('../images/gradient_bg.jpg') repeat-y center;
$background-container-nav: 		#1E1E1E;
$background-menu-item-hover: 	lighten($background-container-nav, 12%);


$border-top-container-nav-size:		2px;
$border-top-container-nav:			solid $border-top-container-nav-size #000;

$color-menu-item: 				#fff;
$black:							#000;
$white:							#fff;

$height-header:				180px;
$height-nav:				70px;
